* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipografia-general);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-letra);
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.claro {
  background: var(--fondo-blanco);
  color: var(--fondo-blanco-color);
}
/*CONTENEDOR PRINCIPAL*/
.contenedor-principal {
  display: flex;
  flex-direction: row; /* Alinea horizontalmente */
  align-items: flex-start; /* Alinea arriba si los contenidos tienen alturas distintas */
}



/*CONTENEDOR DE LOS BOTONES DE LA PARTE IZQUIERDA*/
.contenedor-botones {
  width: 24%;
  height: auto;
  background-color: var(--color-contenedor);
  border-radius: 40px;
  margin: 20px 2px 0px 2%;
  padding: 20px;
}

/*CONTENEDOR BOTONES EN CLARO*/
body.claro .contenedor-botones {
  background-color: var(--fondo-blanco-contenedor);
  color: var(--fondo-blanco-color);
}

.button {
  display: flex;
  width: 100%;
  padding: 13px 5px;
  border: none;
  border-radius: 19px;
  margin: 7px 0;
  background-color: var(--color-botones-carrito);
  justify-content: space-between;
  color: var(--color-letra);
  font-weight: bold;
  font-size: 20px;

}

/*BOTONES EN CLARO*/
body.claro .button {
  background-color: var(--color-botones-carrito);

}
.contenido-button {
  margin-left: 8px;
}
.icono-flecha {
  margin-right: 20px;
}
/*.button .bi {
    padding: 0 10px;
    font-weight: bold;
    font-size: 13px;
}*/
/*CONTENEDOR CENTRAL (CARRITO)*/

.contenedor-carrito {
  height: auto;
  width: 75%;
  background-color: var(--color-contenedor);
  margin: 20px 20px;
  padding: 25px;
  border-radius: 40px;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
}

/*CONTENEDOR CARRITO EN CLARO*/
body.claro .contenedor-carrito {
  background-color: var(--fondo-blanco-contenedor);
  color: var(--fondo-blanco-color);
}
.titulo-carrito {
    margin-top: none;
}

.box-event {
  border-bottom: 2px solid #6efd0f;

  
}
.tarjeta-evento {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.img-event {
  width: 30%;
  margin: 5px 20px 5px 5px;
}
.description-event {
  margin: 2px 2px 5px 0px;
  text-align: left;
  font-weight: 20px;
}
.name-event {
  margin: 20px 2px 30px 0px;
  font-size: 40px;
}

/*SELCCION DE TICKETS*/
.seleccion-tickets {
  text-align: left;
  font-weight: bold;
  word-spacing: -1px;
  font-size: 25px;
}
.opciones-tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 15px;
}
.tipo-entrada {
  margin: 0;
}

/* Contenedor de cantidad */
.cantidad-ticket {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Contador de cantidad */
.contador {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.contador button {
  width: 25%;
  background-color: var(--color-botones-carrito);
  color: var(--color-letra);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.contador button:hover {
  background-color: #4444;
}

.contador .valor {
  padding: 5px 10px;
  background-color: var(--color-botones-carrito);
  color: var(--color-letra);
  min-width: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 4px;
}

/*TOTAL*/

.total {
  width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 25px;
}

/* Botón de agregar al carrito */
.agregar-carrito {
  background-color: var(--color-botones-carrito);
  color: var(--color-letra);
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.agregar-carrito:hover {
  background-color: #4444;
}


/*CUANDO EL CARRITO ESTÁ VACÍO*/

.contenedor-carrito:empty::before {
  padding: 0;
  content: "TU CARRITO ESTÁ VACÍO";
  font-family: Impact;
  font-size: 30px;
  display: block;
  height: 400px;
  background-image: url("/img/carrito-vacio6.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* Contenedor de eventos recomendados */
.eventos-recomendados {
  padding: 20px;
}