* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.claro {
  background: #f5f5f5;
  color: #000000;
}
/*CONTENEDOR PRINCIPAL*/
.contenedor-principal {
  display: flex;
  flex-direction: row; /* Alinea horizontalmente */
  align-items: flex-start; /* Alinea arriba si los contenidos tienen alturas distintas */
}
/*CONTENEDOR DE LOS BOTONES DE LA PARTE IZQUIERDA*/
.contenedor-botones {
    width: 20%;
    
    height: auto;
    background-color: #ccc1;
    border-radius: 16px;
    margin: 20px 2px 0px 2%;
    padding: 10px;
}
.button {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 14px;
    margin: 4px 0;
    background-color: #121212;
    justify-content: space-between;
    color: #eee;
    font-weight: bold;

}
.contenido-button {
    margin-left: 8px;
}
.button .bi {
    padding: 0 10px;
    font-weight: bold;
    font-size: 13px;
}


.contenedor-factura {
  display: flex;
  width: 20%;
  height: 20px;
  background-color: #900;
}
/*CONTENEDOR CENTRAL (CARRITO)*/

.contenedor-carrito {
    height: auto;
    width: 75%;
    background-color: #ccc1;
    margin: 20px 5px;
    padding: 4px;
    border-radius: 14px;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
}
.titulo-carrito {
    margin-top: none;
}

.box-event {
  border-bottom: 2px solid #6efd0f;

  
}
.tarjeta-evento {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.img-event {
    width: 35%;
    margin: 5px 20px 5px 5px;
}
.description-event {
    margin: 2px 2px 5px 0px;
    text-align: left;
    font-size: 12px;
    font-weight: 10px;
}
.name-event {
    margin: 20px 2px 30px 0px;
    font-size: 23px;
}

/*SELCCION DE TICKETS*/
.seleccion-tickets h3 {
  text-align: left;
  font-weight: bold;
  word-spacing: -1px;
}
.opciones-tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 15px;
}
.tipo-entrada {
  font-size: 15px;
  margin: 0;
}

/* Contenedor de cantidad */
.cantidad-ticket {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Contador de cantidad */
.contador {
  display: flex;
  align-items: center;
  border: 1px solid #5551;
  border-radius: 5px;
  overflow: hidden;
}
.contador button {
  width: 25%;
  background-color: #121212;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.contador button:hover {
  background-color: #444;
}

.contador .valor {
  padding: 5px 10px;
  background-color: #121212;
  color: white;
  min-width: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 4px;
}

/*TOTAL*/

.total {
  width: 100%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

/* Botón de agregar al carrito */
.agregar-carrito {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.agregar-carrito:hover {
  background-color: #444;
}
/* Contenedor de eventos recomendados */
.eventos-recomendados {
  padding: 20px;
}