body {
    background-color: #121212;
    color: #ffffff;
}
.contenedor-botones {
    width: 28%;
    height: auto;
    background-color: #ccc4;
    border-radius: 16px;
    margin: 0;
    padding: 10px;
}
.button {
    width: 100%;
    padding: 5px;
    border-radius: 13px;
    margin: 1px;
    align-items: start;;

}
.button .bi {
    background-color: #555;
    margin: 2px 2px 2px 51px;
}