/* --------- FOOTER --------- */
.footer {
  
  padding: 30px 40px;
  display: flex;
    justify-content: center;
  align-items: flex-start;
  gap: 100px; /* Espacio entre columnas */
  font-size: 14px;
  border-top: 1px solid #333;
}

/* Redes sociales */
.footer .social {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.footer .social a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social a:hover {
  color: #00c851 !important;
}

/* Columnas del footer */
.footer .colum {
  display: flex;
  gap: 60px;
}

.footer .colum div h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer .colum div a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.footer .colum div a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer .colum {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer .social {
    margin-right: 0;
  }
}
