body {
    margin: 0;
    background-color: #111;
    color: #fffc;
    font-family: arial;
}
.contenedor-eventos {
    width: 650px;
    height: auto;
    background-color: #4446;
    margin: auto;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 4px;

}
.box-evento-destacado {
    position: relative;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}
.imagen-destacada {
    display: block;
    min-width: 90%;
    min-height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 25px;
}

.boton-esquina {
  position: absolute;
  padding: 6px 12px;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

.boton-top-left    { top: 25px; left: 55px; }
.boton-top-right   { top: 25px; right: 55px; }
.boton-bottom-left { bottom: 10px; left: 55px; }
.boton-bottom-right{ bottom: 10px; right: 55px; }

.carrusel {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    display: flex;
     /* al centro horizontal /
    align-items: center;     / al centro vertical (si querés) /
    height: 100vh;           / ocupa toda la pantalla */
    background: #222;
}
.box-event {
    width: 200px;
    height: 230px;
    background: tomato;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 10px;
}
