
footer {
  padding: 30px 40px;
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: flex-start;  /* alinea al inicio verticalmente */
  
  background-color: black;

  gap: 100px;      
  font-size: 14px;
  border-top: 1px solid #333;
}

.social {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.social a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #00c851 !important;
}

.colum {
  display: flex;
  gap: 60px;
}

.colum div h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.colum div a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.colum div a:hover {
  color: #fff;
}
