/* Contenedor de amigos que asisten */
.Amigos-que-asistiran {
  display: flex;
  gap: 0; /* Elimina el espacio entre imágenes */
  justify-content: flex-start;
  align-items: center;
  margin: 0.5px 0 0 0;
  position: relative; /* Cambia a relative para que el círculo se posicione correctamente */
  z-index: 1;
}

/* Imágenes de amigos */
.Amigos-que-asistiran img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -10px; /* Superposición de 10px */
  border: 3px solid #171717; /* Borde blanco para mejor visualización */
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

body.claro .Amigos-que-asistiran img {
  border: 3px solid #cccccccc; /* Borde oscuro en modo claro */
  transition: all 0.5s ease-in-out;
}

/* La primera imagen no tiene margen negativo */
.Amigos-que-asistiran img:first-child {
  margin-left: 0;
}

/* Círculo de amigos adicionales */
.circulo-amigos-adicionales {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #171717; /* Borde blanco */
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: -10px; /* Superposición con la última imagen */
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

body.claro .circulo-amigos-adicionales {
  border: 3px solid #cccccccc; /* Borde oscuro en modo claro */
  transition: all 0.5s ease-in-out;
}

/* --------- ESTILOS GLOBALES --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipografia-general);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-letra);
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.claro {
  background: var(--fondo-blanco);
  color: var(--fondo-blanco-color);
}

/* --------- CONTENEDOR PRINCIPAL CON FONDOS --------- */
.contenedor-principal-fondo {
  display: flex;
  padding: 0px 20px 25px 20px;
  gap: 20px;
  border-radius: 15px;
  margin: 20px;
}

/* --------- BARRA LATERAL IZQUIERDA CON FONDO --------- */
.barra-lateral-izquierda {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-contenedor);
  border-radius: 10px;
  padding: 15px;
  position: sticky;
  top: 70px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  /* Ajusta según la altura de tu barra de navegación */
  transition: all 0.5s ease-in-out;
  /* Barra de desplazamiento */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
  -ms-overflow-style: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  body.claro &::-webkit-scrollbar-thumb {
    background-color: #cccccccc;
  }
}

.elemento-barra-lateral {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-letra);
  text-decoration: none;
}

.elemento-barra-lateral img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.elemento-barra-lateral span {
  font-size: 15px;
  margin-left: 5%;
}

body.claro .elemento-barra-lateral span {
  color: var(--fondo-blanco-color);
  transition: all 0.5s ease-in-out;
}

body.claro .elemento-barra-lateral-derecha span {
  color: var(--fondo-blanco-color);
  transition: all 0.5s ease-in-out;
}

/* --------- CONTENIDO PRINCIPAL --------- */
.contenido-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-contenedor);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.contenido-principal.claro,
.barra-lateral-derecha.claro,
.barra-lateral-izquierda.claro {
  background-color: var(--fondo-blanco-contenedor);
  transition: all 0.5s ease-in-out;
}

h2.claro {
  color: var(--fondo-blanco-color);
  transition: all 0.5s ease-in-out;
}

/* --------- BANNER --------- */
.banner {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 180px;
  background: radial-gradient(
      circle at bottom right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/img-eventos/fiesta.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: var(--color-letra);
  transition: transform 0.5s ease;
}

.banner:hover {
  transform: perspective(1000px) rotateX(3deg) translateY(-1px) scale(1.01); /* Efecto 3D sutil al pasar el mouse */
}

.banner h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.banner p {
  font-size: 14px;
  opacity: 0.9;
}

/* --------- EVENTOS DESTACADOS --------- */
.eventos-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.tarjeta-eventos {
  min-width: 150px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
}

.tarjeta-eventos .informacion {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  padding: 15px 10px 10px;
  color: var(--color-letra);
  transition: all 0.5s ease-in-out;
}

.tarjeta-eventos h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

span {
  transition: color 0.5s ease-in-out;
}

.tarjeta-eventos p {
  font-size: 12px;
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

/* --------- RECOMENDADOS --------- */
.secciones {
  margin-top: 10px;
}

.secciones h2 {
  font-size: 24px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
}

.eventos-recomendados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.tarjeta-recomendado {
  overflow: hidden;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#Foto-event {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover; /* Hace que la imagen se ajuste sin deformarse */
  display: block; /* Elimina espacios extra */
}

.tarjeta-recomendado {
  transition: transform 0.5s ease;
}

.tarjeta-recomendado .informacion {
  bottom: 0;
  left: 0;
  right: 0;
  /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); */
  padding: 10px;
  color: var(--color-letra);
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}

body.claro .tarjeta-recomendado .informacion {
  color: var(--fondo-blanco-color);
  transition: all 0.5s ease-in-out;
}

/* --------- BARRA LATERAL DERECHA CON FONDO --------- */
.barra-lateral-derecha {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-contenedor);
  border-radius: 10px;
  padding: 15px;
  position: sticky;
  top: 70px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  /* Ajusta según la altura de tu barra de navegación */
  transition: all 0.5s ease-in-out;
  /* Barra de desplazamiento */
  overflow-y: auto;
  scrollbar-width: thin; /* Estándar CSS para ancho de scrollbar */
  scrollbar-color: #333 transparent; /* Estándar CSS para color de scrollbar */
  -ms-overflow-style: auto; /* Estilo específico para navegadores basados en Trident (IE/Edge) */
  &::-webkit-scrollbar { /* Estilo específico para navegadores basados en WebKit (Chrome, Safari, Edge) */
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track { /* Estilo específico para navegadores basados en WebKit */
    background: transparent;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb { /* Estilo específico para navegadores basados en WebKit */
    background-color: #333;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  body.claro &::-webkit-scrollbar-thumb { /* Estilo específico para navegadores basados en WebKit */
    background-color: #cccccccc;
  }
}

.elemento-barra-lateral-derecha {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-letra);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.elemento-barra-lateral-derecha img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 5px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
}

.elemento-barra-lateral-derecha span {
  font-size: 15px;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .elemento-barra-lateral span,
  .elemento-barra-lateral-derecha span {
    display: none; /* Oculta el texto en pantallas pequeñas */
  }

  .barra-lateral-izquierda,
  .barra-lateral-derecha {
    width: auto; /* Ajusta el ancho de la barra lateral derecha y la izquierda */
  }
}
