/* --------- ESTILOS GLOBALES --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  width: 100%;
}

body.claro {
  background: #f5f5f5;
  color: #333;
}

#footer {
  width: 100%;
}

/* --------- CONTENEDOR PRINCIPAL CON FONDOS --------- */

.contenedor-principal-fondo {
  display: flex;
  padding: 0px 20px 25px 20px;
  gap: 20px;
  border-radius: 15px;
  margin: 20px;
  width: 100%;
  flex: 1;
}

/* --------- BARRA LATERAL IZQUIERDA CON FONDO --------- */

.barra-lateral-izquierda {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: none;
  border-radius: 10px;
  padding: 15px;
  position: sticky;
  top: 70px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  /* Ajusta según la altura de tu barra de navegación */
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
}

.elemento-barra-lateral {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.elemento-barra-lateral img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.elemento-barra-lateral span {
  font-size: 15px;
  margin-left: 5%;
}

body.claro .elemento-barra-lateral span {
  color: #333;
  transition: all 0.5s ease-in-out;
}

body.claro .elemento-barra-lateral-derecha span {
  color: #333;
  transition: all 0.5s ease-in-out;
}

/* CONTENEDOR PERFIL */

.contenedor-perfil {
  background-color: #333; /* Añade un fondo */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 700px; /* Ajusta el ancho del contenedor */
  padding: 20px; /* Añade padding para más espacio */
  border-radius: 20px; /* Añade bordes redondeados */
  flex: 1;
  padding: 50px;
  margin-right: 15px;
}

.circulo-foto-perfil {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: flex; /* Asegura que la imagen esté centrada */
  justify-content: center;
  align-items: center;
  background-color: #333; /* Fondo temporal si la imagen no carga */
  overflow: hidden;
}

.circulo-foto-perfil img{
  width: 100%; /* Asegura que la foto ocupe todo el ancho del círculo */
  height: 100%; /* Asegura que la foto ocupe toda la altura del círculo */
  object-fit: cover; /* Asegura que la foto cubra todo el círculo sin distorsionarse */
  object-position: center; /* Centra la imagen dentro del círculo */
}


/* lapiz de cambiar foto  */

.cambiar-foto {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: white;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  object-position: center;
  font-size: 24px; /* Tamaño del ícono del lápiz */
  text-align: center;
}

.icono-lapiz{
  color: white;
  font-size: 24px;
  padding: 56px;
}

.circulo-foto-perfil:hover .cambiar-foto {
  opacity: 1;
  transform: scale(1.05);
}

.campo-nombre-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nombre-usuario {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #999999;
  background-color: #333;
  color: white;
  width: 250px;
  /* Aumenta el ancho del campo de texto */
  height: 35px;
  text-align: center;
}

.guardar-nombre {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.guardar-nombre:hover {
  background-color: #555;
}

h2.claro {
  color: #333;
  transition: all 0.5s ease-in-out;
}