/* --------- ESTILOS GLOBALES --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  width: 100%;
}

body.claro {
  background: #f5f5f5;
  color: #333;
  transition: all 0.5s ease-in-out;
}

#footer {
  width: 100%;
}

/* --------- CONTENEDOR PRINCIPAL CON FONDOS --------- */

.contenedor-principal-fondo {
  flex-direction: column;
  display: flex;
  padding: 0px 20px 25px 20px;
  gap: 20px;
  border-radius: 15px;
  margin: 20px;
  width: 100%;
  flex: 1;
  align-items: center;
  text-align: center;
  
}

/* --------- BARRA CENTRAL CUENTA --------- */

.barra-opciones-cuenta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: none;
  border-radius: 15px;
  padding: 15px;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  background-color: #333;
  margin-right: 40px;
}

.elemento-barra-lateral {
  padding: 15px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  justify-content: space-between; /* Asegura que los elementos se distribuyan a los lados */
  align-items: center; /* Centra los elementos verticalmente */
}

.elemento-barra-lateral i{
  margin-left: auto; /* Empuja los iconos a la derecha */

}

.elemento-barra-lateral:hover{
  background-color: #505050;
  border-radius: 10px;
}

body.claro .elemento-barra-lateral span {
  color: #333;
  transition: all 0.2s ease-in-out;
}

h2.claro {
  color: #333;
  transition: all 0.2s ease-in-out;
}

/* --------- BARRA CENTRAL PAGO --------- */

.barra-opciones-pago {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: none;
  border-radius: 15px;
  padding: 15px;
  position: sticky;
  top: 70px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  /* Ajusta según la altura de tu barra de navegación */
  overflow-y: auto;
  transition: all 0.2s ease-in-out;

  background-color: #333;
}

/* --------- BARRA CENTRAL seguridad y priv --------- */

.barra-opciones-seguridadyprivacidad {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: none;
  border-radius: 15px;
  padding: 15px;
  position: sticky;
  top: 70px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  align-self: flex-start;
  max-height: calc(100vh - 80px);
  /* Ajusta según la altura de tu barra de navegación */
  overflow-y: auto;
  transition: all 0.2s ease-in-out;

  background-color: #333;
}
