:root {
    --color-fondo: #000000;
    --color-contenedor: #171717;
    --border-radius: 15px;
    --fondo-blanco: #f5f5f5;
    --fondo-blanco-contenedor: #cccccccc;
    --tipografía-general: "Arial", sans-serif;
    --color-letra: #ffffff;

}